<h1>Deal Dashboard</h1>
<%- if @deals.present? %>
  <div>
    <p>Here are your current deals:
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Deal</th>
          <th>Created On</th>
          <th>Percent Completed</th>
        </tr>
      </thead>
      <tbody>
        <% @deals.each do |deal| %>
          <% percent = rand(10) *10%>
          <tr>
            <td><%= link_to deal.name, deal_path(deal) %></td>
            <td><%= pretty_descriptive_date(deal.created_at) %> (<%= time_ago_in_words(deal.created_at) %> ago)</td>
            <td>

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= percent.to_s %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent.to_s %>%;">
                <%= percent.to_s %>%
              </div>
            </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="forms">
    <%= render "deals/form" %>
  </div>

<% else %>
  <p>You don't have any deals yet.</p>
  <%= link_to "Get Started", '#', class: "btn btn-primary btn-large", onclick: "" %>
  <div class="clearfix"></div>

  <div class="forms">
    <%= render "deals/form" %>
  </div>
<% end %>
