<!DOCTYPE html>
<html>
<head>
  <title>Clozer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
  <%#= render 'shared/error_messages', object: f.object %>

  <%- if params[:action] == 'home' %>
    <%= yield %>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>
<%#= javascript_include_tag JQUERY_CDN %>
<%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
</body>
</html>
