<!DOCTYPE html>
<html ng-app="c_app">
<head>
  <title>Clozer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', :media => "all" %>
  <%= javascript_include_tag ANGULAR_CDN %>
  <%= javascript_include_tag ANGULAR_UI_BOOTSTRAP_CDN %>
  <%#= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
  <%#= render 'shared/error_messages', object: f.object %>

  <%- if params[:action] == 'home' %>
    <%= yield %>
  <% else %>
    <div class="container" style="padding-top: 60px;">
      <%= yield %>
    </div>
  <% end %>
<%#= javascript_include_tag JQUERY_CDN %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
<script type="text/javascript" src="//s3.amazonaws.com/cdn.hellofax.com/js/embedded.js"></script>
<script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
</script>
</body>
</html>
